<div class="row">  
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>施設一覧</h1>
    <div class="facility-list">
      <% @facilities.each do |facility| %>
        <p><%= link_to facility.facility_name, facility_path(facility) %></p>
      <% end %>
    </div>
    <%= link_to "戻る", :back, class: "btn btn-default"%>
  </div>
</div>
