<div class="row">

  <%= render 'search-form'%>

  <div class="team-posts">＜結果一覧＞</div>

  <div class="post-color-info col-md-10 col-md-offset-1">
    <div class=post-color-info__league>
    </div>
    <span class="post-color-info--category">&middot;&middot;&middot;リーグ戦</span>
    <div class=post-color-info__cup>
    </div>
    <span class="post-color-info--category">&middot;&middot;&middot;カップ戦</span>
    <div class=post-color-info__practice>
    </div>
    <span class="post-color-info--category">&middot;&middot;&middot;練習試合</span>
  </div>
  
  <%= render partial: 'posts', locals: { posts: @posts} %>

</div>

