@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import "font-awesome";
@import 'posts';
@import 'teams';
@import 'players';
@import 'facilities';

.navbar-default .navbar-brand {
  color: #777;
  font-family: serif;
  &--title{
    font-size: xx-large;
  }
}

body{
  background-image: image-url('3e2aa33ca73f180999d8b41dd74775f7_w.jpg');
  background-size: cover;
}

li{
  list-style: none;
}
.alert{
  text-align: center;
}

.row{
  margin-right: 50px;
  margin-left: 50px;
}

h1{
  margin-bottom: 2%;
}

.pick-up{
  color: red;
  font-weight: bold;
}

.mgt-20{
  margin-top: 20px;
}

.mgl-20{
  margin-left: 20px;
}

.mgl-10{
  margin-left: 10px;
}

.mgl-40{
  margin-left: 40px;
}

.mgl-90{
  margin-left: 90px;
}

.mgr-10{
  margin-right: 10px;
}

.mgr-40{
  margin-right: 40px;
}

.mgb-20{
  margin-bottom: 20px;
}