// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-config{
  background-color: whitesmoke;
  margin-bottom: 20px;
}

.facility-img{
  margin-bottom: 10px;
}

.facility-edit{
  font-weight: bold;
}