// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player-show{
  border: medium groove silver;
  background-color: whitesmoke;
}

.plytop-mgb{
  margin-bottom: 10px;
}

.player-img{
  margin: 20px 0;
}

.fa-file-picture-o:before{
  font-size: 30px;
  color: darkred;
}

.player-form{
  font-weight: bold;
}

.img-frame{
  display: flex;
  justify-content: space-between;
  &--preview{
    margin-top: 4px;
  }
}

.goals-form_btn{
  margin-left: 60px;
}

.ply-update{
  font-weight:bold;
  font-size: 18px;
  color: black;
}

// 得点ランキング
// １位
.icon-gold{
  font-size: xx-large;
  color: goldenrod;
  text-align: center;
}
.first-ply{
  font-size: xx-large;
}
.first-goals{
  font-size: xx-large;
}
// ２位
.icon-silver{
  font-size: x-large;
  color: lightslategray;
  text-align: center;
}
.second-ply{
  font-size: x-large;
}
.second-goals{
  font-size: x-large;
}
// ３位
.icon-bronze{
  color: sienna;
  font-size: 21px;
  text-align: center;
}
.third-ply{
  font-size: 21px;
  text-align: center;
}
.third-goals{
  font-size: 21px;
}
// 4位〜10位
.low-list{
  background-color: snow;
}
.low-rank{
  text-align: center;
}