// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination>li>a {
  border: none;
  color: #696969; 
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a { 
  background: #93c9ff; 
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px; 
}

.posts{
  background-color: mintcream;
  border: solid 3px;
  margin-bottom: 40px;
}

.contributor{
  font-size: 20px;
}

.post{
  background-color: mintcream;
  border: solid 3px;
  margin-bottom: 10px;
}

.date{
  font-size: 20px;
}

.opponent{
  font-size: xx-large;
}

.result{
  font-size: xx-large;
  padding-bottom: 10px;
}

.scorer{
  font-size: large;
  margin-bottom: 15px;
}

.commentary{
  font-size: large;
}

.post-form{
  font-size: medium;
  font-weight: bold;
}

.form-group--rb{
  padding-right: 5px;
}

.field_with_errors {
  display: inline;
}

.win{
  color:red;
}

.lose{
  color: blue;
}

.drow{
  color: gray;
}

.search-msg{
  font-size: 22px;
  margin: 40px;
}

.fa-video:before {
  font-size: 30px;
  color: antiquewhite;
}

.video-title{
  color: antiquewhite;
}