// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mgr-10{
  margin-right: 10px;
}

.mgr-40{
  margin-right: 40px;
}
.teams-list{
  margin-top: 20px;
  font-size: large;
}

.row{
  margin-right: 50px;
  margin-left: 50px;
}

.player-list{
  font-size: 40px;
  margin: 20px;
  text-align: center;
}

.team-posts{
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.total-record{
  font-size: 30px;
  margin-top: 15px;
  border: 3px double lightslategrey;
}

.category-record{
  font-size: 20px;
  margin-top: 12px;
}

.categories{
  font-size: 25px;
}