// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teams-list{
  margin-top: 20px;
  font-size: large;
}

.row{
  margin-right: 50px;
  margin-left: 50px;
}

.player-list{
  font-size: 40px;
  margin: 20px;
  text-align: center;
}

.team-posts{
  font-size: 30px;
  text-align: center;
}