// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teams-list{
  margin-top: 20px;
  font-size: large;
}

.team-posts{
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.total-record{
  font-size: 30px;
  margin-top: 15px;
  border: 3px double lightslategrey;
}

.category-record{
  font-size: 20px;
  margin-top: 12px;
}

.players{
  margin-top: 15px;
  font-size:xx-large;
}

.players-list{
font-size: large;
}

.card-header{
  font-size: 25px;
  background-color: lightgray;
}

.num-mgl{
  margin-left: 12px;
}

.pst-mgl{
  margin-left: 32px;
}

.name-mgl{
  margin-left: 30%;
}

.check-details{
  width: 230px;
  margin: 0 auto;
}